# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Specific files
HSC/HSC_Test
HSC.old/*
cudaLibrary/Debug/*
testHines/.svn/*

